In [17]:
import pandas as pd

publi = pd.read_csv("Datasets/advertising.csv")
publi.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [20]:
print(publi.shape)

(200, 4)

### Separando dados

In [18]:
x = publi[['TV', 'Radio', 'Newspaper']]
y = publi['Sales']

In [19]:
x.shape

(200, 3)

In [20]:
y.shape

(200,)